
.container{
    background-color: #E1AFD1;

}
table{
    border: .5rem solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em 0.75em;
}
table tr{
    background-color: #f8f8f8;
    border: .5rem solid #ddd;
    padding: 0.35rem;   

}
table th, table td{
    text-align: center;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}