@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html{
    font-size: 62.5%;
}
*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
    
}

header{
    background-color: #d4f4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:5rem; 
    padding: 1rem;
}

body{
    background-color: #f4fff9;
    height:100vh; 
    display:flex;  
    flex-direction:column;  
   
}
footer{
    background-color: #d4f4e4;
    text-align: center;
    font-size: 3rem;
    min-height:5rem; 
    margin-top:auto;  
    color: green;
}
.flex{
    display: flex;
    max-width: 100rem;
    flex-wrap: wrap;
    margin: 0 auto;
}
.flex > section{
    margin: 1rem;
    flex: 1 1 25rem;
    text-align: center;
}
h1{
    text-align: center;
    font-family: "Parisienne", cursive;
    margin-top: 5rem;
    font-size: 5rem;

}
section p {
    font-size: 2rem;
}
section img{
    width: 100%;
}
 header img{
    width: 8%;
}
ul,li {

    list-style: none;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: green;
}
.menu{
    display: flex;
}
.menu li{
    margin-left:1rem;
}
.menu li a{
    padding: 1rem;
}
.menu li a:hover{
    background-color: #f4fff9;
}