p {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1 px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(23, 200, 0, 0.99);
    background: rgba(124, 253, 147, 0.2);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 200, 47, 0.9);
    border-radius: 10px;
    padding: 8px 10px;
    display: block;
}

.alinhardiv{
	text-align: center;
}
span {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1 px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(136, 138, 226, 0.99);
    background: rgba(147, 230, 236, 0.2);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 200, 47, 0.9);
    border-radius: 10px;
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
}

.botao{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1 px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(136, 138, 226, 0.99);
    background: rgba(147, 230, 236, 0.2);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 200, 47, 0.9);
    border-radius: 10px;
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.conteudo_aluno {
    border: 2px solid rgba(239, 241, 115, 0.99);
    background: rgba(238, 243, 195, 0.2);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 200, 47, 0.9);
    border-radius: 10px;
    padding: 8px 10px;
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 80%;
}

.conteudo_professor{
    border: 2px solid rgba(241, 140, 115, 0.99);
    background: rgba(243, 209, 195, 0.2);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 200, 47, 0.9);
    border-radius: 10px;
    padding: 8px 10px;
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 80%;
}